.container {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.header{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px; 
}

.header h2 {
    font-family: 'Nixie One', cursive;
}

.icons {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px; 
}


.icons img:hover{
    opacity: 0.5;
}

.container h2 {
    font-family: 'Nixie One', cursive;
}



